<%- include("../partials/header.ejs",{page:"Login"}); %>

    <body class="container"></body>
    
        <%- include("../partials/form.ejs",{page:"Login"}); %>
            <%- include("../partials/scripts.ejs"); %>
                <%- include("../partials/footer.ejs"); %>