<%- include("../partials/header.ejs",{page:"Register"}); %>

    <body class="container"></body>
   
        <%- include("../partials/form.ejs",{page:"Register"}); %>
            <%- include("../partials/scripts.ejs"); %>
                <%- include("../partials/footer.ejs"); %>